# Root ignores (monorepo)

# Java/Maven/Gradle
**/target/
**/build/
*/.mvn
*/mvnw.cmd
*/mvnw

analytics-dashboard.code-workspace

# Node
**/node_modules/
**/dist/
**/dist-ssr/

# Logs
*.log

# IDE/editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.iml
.DS_Store

# OS
Thumbs.db
